header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(243, 95, 95);
}

#profile-image-container{
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
}

#profile-image{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

#profile-image:hover{
    border: 2px solid black;
}

#site-title-container{
    justify-self: center;
}

#header-spacer{
    margin-right: 20px;
    width: 50px;
}