:root{
    /* Color Palate */
    --vanilla: #f1e8b8ff;
    --flax: #f9e784ff;
    --atomic-tangerine: #e58f65ff;
    --indian-red: #d05353ff;
    --eerie-black: #191919ff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(237, 92, 92);
}

#profile-image-container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;

    flex-basis: 50px;
    flex-grow: 1;
}

#profile-image{
    /* height: 100%;
    width: 100%; */
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

#profile-image:hover{
    border: 2px solid black;
}

#site-title-container{
    justify-self: center;

    flex-basis: 200px;
    flex-grow: 2;
}

#site-title{
    text-align: center;
}

#search-container{
    flex-basis: 50px;
    flex-grow: 1;
}