:root{
    /* Color Palate */
    --vanilla: #f1e8b8ff;
    --flax: #f9e784ff;
    --atomic-tangerine: #e58f65ff;
    --indian-red: #d05353ff;
    --eerie-black: #191919ff;

    --dark-red: #ef6060;
    --light-red: rgb(255, 108, 108);
    --light-grey: rgb(203, 201, 201);
}

main{
    padding: 5px;
    background-color: white;
}
#filter-header-form{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;

    /* max-height: 200px; */
    background-color: var(--light-grey);
    padding: 10px;
}

#filter-header-form>*{
    margin: 10px;
}

#location-view-container{
    display: flex;
    margin: 0px;
}
#view-icons-container{
    grid-row: 1/3;
    grid-column: 1/2;

    display: flex;
    justify-content: center;
    margin: 5px;
}

#restaurant-view{
    border-right: 2px solid black;
    padding: 5px;
}

#dish-view{
    padding: 5px;
}

#allergens-container{
    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
    margin: 0px;
}

#allergens-title{
    margin-top: 0px;
}

#allergens{
    display: flex;
}

.allergen{
    margin: 5px;
    margin-top: 0px;
}

.allergen>p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#location-container{
    grid-row: 1/2;
    grid-column: 2/3;
}

#location-container>p{
    margin: 0px;
}

#location{
    text-decoration: underline;
}

.icon{
    max-width: 30px;
    max-height: 30px;
}

#add-allergen-container{
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
}


#sort-interface{
    grid-row: 1/2;
    grid-column: 3/4;

    margin: 0px;

    text-align: right;

    padding-right: 10px;
}

#sort-title{
    margin-top: 0px;
    margin-bottom: 2px;
}


.restaurant-card{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;

    padding: 10px;

    background-color: var(--light-red);
    border: 5px solid black;
    border-radius: 10px;
}

.rest-title{
    grid-row: 1/2;
    grid-column: 1/3;
}

.rest-title>h3{
    margin: 0px;
}

.info{
    grid-row: 2/3;
    grid-column: 1/2;
}

.info-title{
    margin: 0px;
}

.dishes{
    grid-row: 2/3;
    grid-column: 2/3;
}

.dishes-title{
    margin: 0px;
}

.image-grid{
    grid-row: 1/3;
    grid-column: 3/4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;

    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.foodPic{
    width: 80px;
    height: 80px;
}